@model GithubUsersSearcher.ViewModels.GithubUserViewModel

@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <h1 class="display-4">Search for a user</h1>
    @using (Html.BeginForm("GetUser", "Github", FormMethod.Post))
    {
        <div class="flex-row d-flex align-items-baseline">
            @Html.TextBox("username", "", new { @class = "form-control", placeholder = "GitHub Username" })
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        @Html.ValidationMessage("username", "", new { @class = "text-danger" })
    }
</main>