@model GithubUsersSearcher.ViewModels.GithubUserViewModel

@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1 class="display-4">Search for a user</h1>
    <form asp-controller="GitHub" asp-action="GetUser" method="get">
        <div class="form-group">
            <input asp-for="Username" class="form-control" placeholder="Enter GitHub Username" required />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
</main>